body {
  margin: 0;
}
.parent-container {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

.column {
  background-color: red;
  height: 40px;
  width: 40px;
  margin: 10px;
  flex-shrink: 0;
  transition: background-color 0.9s, transform 0.9s, margin 0.9s;
}

.column:hover {
  background-color: greenyellow;
  transform: scale(1.1);
  margin: 2px;
}

.button {
  color: blue;
  width: 140px;
  height: 50px;
  font-size: 20px;
  background-color: yellow;
  border: none;
}
