body {
  margin: 0;
}
.parent-container {
  background-color: black;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

.column {
  background-color: red;
  height: 60px;
  width: 60px;
  margin: 16px;
  flex-shrink: 0;
}
